<p class="display">
  {{#with display}}
    <div>
      <label for="admin-select-template">Choose a site template:</label>
      <select id="admin-select-template" class="selectTemplate">
        <option value="">Choose a template...</option>
        {{#each ../templates}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
      <button id="admin-cmd-template" class="action pure-button">Apply</button>
      <span class="message">{{#if preparing}}{{stepMsg}}{{/if}}</span>
    </div>
    <div>
      <button id="admin-cmd-build" class="action pure-button">Generate</button>
      <button id="admin-cmd-build-debug" class="action pure-button">Generate Debug</button>
      <span class="message">{{#if building}}{{stepMsg}}{{/if}}</span>
      <a href="https://test.{{@root.domain}}/" target="_blank"><span class="popout">Test Site</span></a>
    </div>
    <div>
      <button id="admin-cmd-publish" class="action pure-button">Publish</button>
      <span class="message">{{#if deploying}}Added: {{added}} Updated: {{updated}} Deleted: {{deleted}} of {{total}}{{/if}}</span>
      <a href="https://{{@root.domain}}/" target="_blank"><span class="popout">Site</span></a>
    </div>
  {{/with}}
</p>
{{#if config.logsOpen}}
<details open id="admin-logs-detail" class="logs">
{{else}}
<details id="admin-logs-detail" class="logs">
{{/if}}
  <summary class="latest">
    {{#each latest}}
      <div>{{msg}}</div>
    {{/each}}
  </summary>
  <p class="detail">
    {{#each logs}}
      <div>{{msg}}</div>
    {{/each}}
  </p>
</details>
{{#with config}}
  <div class="configurations pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul class="tabs pure-menu-list">
      {{#each tabs}}
        <li class="pure-menu-item">
            <a href="#" id="tab-button-{{id}}" class="tabButton pure-menu-link">{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#each tabs}}
  <div id="tabs-panel-{{id}}" class="tabsPanel"></div>
    Config controls for {{name}} go here!

  </div>
  {{/each}}
</div>
{{/with}}
<script>
  // register callback to the containg page so it can interact
  adminCache.sendEvent = function(command, params) {
    //switch (command) {
    //}
  }

  // Put data on page for later use
  adminCache.templateNames = []
  adminCache.templateNames.push({ id: '' })
  {{#each templates}}
  adminCache.templateNames.push({ id: '{{id}}', name: '{{name}}', description: '{{description}}' })
  {{/each}}

  // Set current state of buttons
  {{#if display.preparing}}
  document.getElementById('admin-cmd-template').classList.add('pure-button-disabled')
  {{/if}}
  {{#if display.building}}
  document.getElementById('admin-cmd-build').classList.add('pure-button-disabled')
  {{/if}}
  {{#if display.publishing}}
  document.getElementById('admin-cmd-publish').classList.add('pure-button-disabled')
  {{/if}}

  // Set the currently selected template
  {{#if config.templateId}}
  {
    const templateSelect = document.getElementById('admin-select-template')
    const index = adminCache.templateNames.findIndex(item => item.id === config.templateId)
    templateSelect.selectedIndex = index
  }
  {{/if}}

  // Register command handlers for all buttons. They call a global function defined in page.js.
  document.getElementById('admin-cmd-template').onclick = function(ev) {
    const templateSelect = document.getElementById('admin-select-template')
    sendCommand('admin-cmd-template', 'template', { id: adminCache.templateNames[templateSelect.selectedIndex].id })
  }

  document.getElementById('admin-cmd-build').onclick = function(ev) {
    const templateSelect = document.getElementById('admin-select-template')
    sendCommand('admin-cmd-build', 'build', { templateId: adminCache.templateNames[templateSelect.selectedIndex].id })
  }

  document.getElementById('admin-cmd-build-debug').onclick = function(ev) {
    const templateSelect = document.getElementById('admin-select-template')
    sendCommand('admin-cmd-build', 'build', {
      templateId: adminCache.templateNames[templateSelect.selectedIndex].id,
      debug: 'true'
    })
  }

  document.getElementById('admin-logs-detail').onToggle = function(ev) {
    if (ev.target.open) {
      adminCache.logsOpen = true
    } else {
      adminCache.logsOpen = false
    }
    if ( ! adminCache.logsOpenDebounce) {
      adminCache.logsOpenDebounce = setTimeout(function() {
        adminCache.logsOpenDebounce = null
        sendCommand('admin-cmd-config', 'config', { logsOpen: adminCache.logsOpen })
      }, 3000)
    }
  }

  document.getElementById('admin-cmd-publish').onclick = function(ev) { sendCommand('admin-cmd-publish', 'publish') }
  {{#each tabs}}
    document.getElementById('tab-button-{{id}}').onclick = function(ev) { activateTab('admin-tab-{{id}}', '{{id}}') }
  {{/each}}
</script>
