<p class="display">
  {{#with display}}
    <div>
      {{#if template}}
        <span>Site template:</span><span>{{template.name}}</span>
      {{else}}
        <label for="admin-select-template">Choose a site template:</label>
        <select id="admin-select-template" class="selectTemplate">
          {{#each ../templates}}
            <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      {{/if}}
      <button id="admin-cmd-template" class="action pure-button">Apply</button>
      <span class="message">{{#if preparing}}{{stepMsg}}{{/if}}</span>
    </div>
    <div>
      <button id="admin-cmd-build" class="action pure-button">Generate</button>
      <span class="message">{{#if building}}{{stepMsg}}{{/if}}</span>
      <a href="https://test.{{@root.domain}}/" target="_blank"><span class="popout">Test Site</span></a>
    </div>
    <div>
      <button id="admin-cmd-publish" class="action pure-button">Publish</button>
      <span class="message">{{#if deploying}}Added: {{added}} Updated: {{updated}} Deleted: {{deleted}} of {{total}}{{/if}}</span>
      <a href="https://{{@root.domain}}/" target="_blank"><span class="popout">Site</span></a>
    </div>
  {{/with}}
</p>
<details class="logs">
  <summary>
    {{#each latest}}
      <div>{{msg}}</div>
    {{/each}}
  </summary>
  <p class="logs">
    {{#each logs}}
      <div>{{msg}}</div>
    {{/each}}
  </p>
</details>
{{#with config}}
  <div class="configurations pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul class="tabs pure-menu-list">
      {{#each tabs}}
        <li class="pure-menu-item">
            <a href="#" id="tab-button-{{id}}" class="tabButton pure-menu-link">{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#each tabs}}
  <div id="tabs-panel-{{id}}" class="tabsPanel"></div>
    Config controls for {{name}} go here!

  </div>
  {{/each}}
</div>
{{/with}}
<script>
  // register callback to the containg page can interact
  adminCache.callback = function(command, params) {
    //switch (command) {
    //}
  }

  // Put data on page for later use
  adminCache.templateNames = []
  {{#each templates}}
  adminCache.templateNames.push('{{id}}')
  {{/each}}

  // Set current state of buttons
  {{#if display.preparing}}
  document.getElementById('admin-cmd-template').classList.add('pure-button-disabled')
  {{/if}}
  {{#if display.building}}
  document.getElementById('admin-cmd-build').classList.add('pure-button-disabled')
  {{/if}}
  {{#if display.publishing}}
  document.getElementById('admin-cmd-publish').classList.add('pure-button-disabled')
  {{/if}}

  // Register command handlers for all buttons. They call a global function defined in page.js.
  document.getElementById('admin-cmd-template').onclick = function(ev) {
    const templateSelect = document.getElementById('admin-select-template')
    sendCommand('admin-cmd-template', 'template', { id: adminCache.templateNames[templateSelect.selectedIndex] })
  }
  document.getElementById('admin-cmd-build').onclick = function(ev) { sendCommand('admin-cmd-build', 'build') }
  document.getElementById('admin-cmd-publish').onclick = function(ev) { sendCommand('admin-cmd-publish', 'publish') }
  {{#each tabs}}
    document.getElementById('tab-button-{{id}}').onclick = function(ev) { activateTab('admin-tab-{{id}}', '{{id}}') }
  {{/each}}
</script>
