<p class="display">
  {{#with display}}
    <div><span class="header">Generate</span>: <span>{{#if building}}{{/if}}</span></div>
    <div><span class="header">Publish</span>: <span>{{#if deploying}}Publishing file {{deployFileCurrent}} of {{deployFileTotal}}{{/if}}</span></div>
  {{/with}}
</p>
<p class="properties">
  {{#each properties}}
    <div>{{name}}: {{value}}</div>
  {{/each}}
</p>
<p class="buttons">
  {{#each buttons}}
    <button id="admin-cmd-{{id}}" class="button">{{name}}</button>
  {{/each}}
</p>
<p class="logs build">
  <h3>Generator Log</h3>
  {{#with logs}}
    {{#each build}}
      <div>{{msg}}</div>
    {{/each}}
  {{/with}}
</p>
<p class="logs publish">
  <h3>Publisher Log</h3>
  {{#with logs}}
    {{#each deploy}}
      <div>{{msg}}</div>
    {{/each}}
  {{/with}}
</p>
<script>
  // Register command handlers for all buttons. They call a global function defined in page.js.
  {{#each buttons}}
    document.getElementById('admin-cmd-{{id}}').onclick = function(ev) { sendCommand('admin-cmd-{{id}}', '{{id}}') }
  {{/each}}
</script>
