<p class="display">
  {{#with display}}
    <div>
      <button id="admin-cmd-build" class="action">Generate</button>
      <span class="message">{{#if building}}{{stepMsg}}{{/if}}</span>
      <a href="https://test.{{@root.domain}}/" target="_blank"><span class="popout">Test Site</span></a>
    </div>
    <div>
      <button id="admin-cmd-publish" class="action">Publish</button>
      <span class="message">{{#if deploying}}Added: {{added}} Updated: {{updated}} Deleted: {{deleted}} of {{total}}{{/if}}</span>
      <a href="https://{{@root.domain}}/" target="_blank"><span class="popout">Site</span></a>
    </div>
  {{/with}}
</p>
<details class="logs">
  {{#with logs}}
  <summary>
    {{#each latest}}
      <div>{{msg}}</div>
    {{/each}}
  </summary>
  <p class="logs">
    {{#each all}}
      <div>{{msg}}</div>
    {{/each}}
  </p>
  {{/with}}
</details>
{{#with config}}
<div class="configuration">
  <div class="tabs">
    {{#each tabs}}
      <div id="tab-button-{{id}}" class="tabButton">{{name}}</div>
    {{/each}}
  </div>
  {{#each tabs}}
  <div id="tabs-panel-{{id}}" class="tabsPanel"></div>
    Config controls for {{name}} go here!

  </div>
  {{/each}}
</div>
{{/with}}
<script>
  // Register command handlers for all buttons. They call a global function defined in page.js.
  document.getElementById('admin-cmd-build').onclick = function(ev) { sendCommand('admin-cmd-build', 'build') }
  document.getElementById('admin-cmd-publish').onclick = function(ev) { sendCommand('admin-cmd-publish', 'publish') }
  {{#each tabs}}
    document.getElementById('tab-button-{{id}}').onclick = function(ev) { activateTab('admin-tab-{{id}}', '{{id}}') }
  {{/each}}
</script>
